In [2]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset("titanic")

In [4]:
"age" in df # Bu değişken bu veri setinde var mı?

True

In [5]:
df["age"].head() # Bir değişken seçip görüntüleme
df.age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [ ]:
df["age"].head() # Pandas Series olarak çıktı alırız
df[["age"]].head() # DataFrame olarak çıktı alırız

In [6]:
df[["age","sex","alive"]] # Birden fazla değişken görüntüleme

      age     sex alive
0    22.0    male    no
1    38.0  female   yes
2    26.0  female   yes
3    35.0  female   yes
4    35.0    male    no
..    ...     ...   ...
886  27.0    male    no
887  19.0  female   yes
888   NaN  female    no
889  26.0    male   yes
890  32.0    male    no

[891 rows x 3 columns]

In [ ]:
col_names = ["age","adult_male","alive"]
df[col_names] # Belirli değişkenleri görüntüleme

In [ ]:
df["age2"] = df["age"]**2 # Yeni bir veri yükleme

In [ ]:
df.drop("age2",axis = 1).head() # Silme işlemi

In [ ]:
col_names = ["age","adult_male","alive"]
df.drop(col_names,axis = 1).head() # Belirli değişkenleri silme

In [3]:
df.loc[:, df.columns.str.contains("age")].head() # İçerisinde "age" geçen değişkenleri gösterdi.

    age
0  22.0
1  38.0
2  26.0
3  35.0
4  35.0

In [ ]:
df.loc[:, ~df.columns.str.contains("age")].head() # "~" sembolü ile içerisinde "age" olmayanları gösterdi.