In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = sns.load_dataset("titanic")

In [5]:
for col in df.columns:
    if df[col].dtypes == "bool":
        df[col] = df[col].astype(int)

In [6]:
def grab_col_names(dataframe, cat_th=10, car_th=20):
    cat_cols = [col for col in df.columns if str(df[col].dtypes) in ["category","object","bool"]]
    num_but_cat = [col for col in df.columns if df[col].nunique() < 10 and df[col].dtypes in ["int64", "float64"]]
    cat_but_car = [col for col in df.columns if df[col].nunique() > 20 and str(df[col].dtypes) in ["category","object"]]
    cat_cols = cat_cols + num_but_cat
    cat_cols = [col for col in cat_cols if col not in cat_but_car]
    
    num_cols = [col for col in df.columns if df[col].dtypes in ["int64","float64"]]
    num_cols = [col for col in num_cols if col not in cat_cols]
    
    print(f"Observations: {dataframe.shape[0]}")
    print(f"Variables: {dataframe.shape[1]}")
    print(f"cat_cols: {len(cat_cols)}")
    print(f"num_cols: {len(num_cols)}")
    print(f"cat_but_car: {len(cat_but_car)}")
    print(f"num_but_cat: {len(num_but_cat)}")
    
    return cat_cols, num_cols, cat_but_car

In [7]:
cat_cols, num_cols, cat_but_car = grab_col_names(df)

Observations: 891
Variables: 15
cat_cols: 11
num_cols: 2
cat_but_car: 0
num_but_cat: 4

In [11]:
# Hedef değişkenin kategorik değişkenler ile analizi
df.groupby("sex")["survived"].mean()

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

In [12]:
def target_summary_with_cat(dataframe,target,categorical_cat):
    print(pd.DataFrame({"TARGET_MEAN":dataframe.groupby(categorical_cat)[target].mean()}))

In [14]:
target_summary_with_cat(df,"survived","pclass")

        TARGET_MEAN
pclass
1          0.629630
2          0.472826
3          0.242363

In [16]:
for col in cat_cols:
    target_summary_with_cat(df,"survived",col)
# Tüm kategorik değişkenlerde hayatta kalma değişkenini sorgulayıp ortalamasını aldık.

        TARGET_MEAN
sex
female     0.742038
male       0.188908
          TARGET_MEAN
embarked
C            0.553571
Q            0.389610
S            0.336957
        TARGET_MEAN
class
First      0.629630
Second     0.472826
Third      0.242363
       TARGET_MEAN
who
child     0.590361
man       0.163873
woman     0.756458
      TARGET_MEAN
deck
A        0.466667
B        0.744681
C        0.593220
D        0.757576
E        0.750000
F        0.615385
G        0.500000
             TARGET_MEAN
embark_town
Cherbourg       0.553571
Queenstown      0.389610
Southampton     0.336957
       TARGET_MEAN
alive
no             0.0
yes            1.0
          TARGET_MEAN
survived
0                 0.0
1                 1.0
        TARGET_MEAN
pclass
1          0.629630
2          0.472826
3          0.242363
       TARGET_MEAN
sibsp
0         0.345395
1         0.535885
2         0.464286
3         0.250000
4         0.166667
5         0.000000
8         0.000000
       TARGET_MEAN
parch
0         0.343658
1         0.550847
2         0.500000
3         0.600000
4         0.000000
5         0.200000
6         0.000000

In [18]:
# Hedef değişkenin sayısal değişkenler ile analizi
df.groupby("survived")["age"].mean()
# df.groupby("survived").agg({"age":"mean"}) -> Böyle de yapılabilir
# Hayatta kalan ve kalmayan insanların yaş ortalamasını aldık.

                age
survived
0         30.626179
1         28.343690

In [19]:
def target_summary_with_num(dataframe,target,numerical_col):
    print(dataframe.groupby(target).agg({numerical_col:"mean"}), end="\n\n\n")

In [20]:
target_summary_with_num(df,"survived","age")

                age
survived
0         30.626179
1         28.343690

In [21]:
for col in num_cols:
    target_summary_with_num(df,"survived",col)

                age
survived
0         30.626179
1         28.343690


               fare
survived
0         22.117887
1         48.395408