In [1]:
import pandas as pd
import seaborn as sns
df = sns.load_dataset("titanic")

In [3]:
df["age2"] = df["age"]*2
df["age3"] = df["age"]*5
# Kullanmak için yeni değerler ürettik

In [9]:
df[["age","age2","age3"]].apply(lambda x: x/10).head()
# Yaş değerlerini seçerek onları 10'a böldük

   age  age2  age3
0  2.2   4.4  11.0
1  3.8   7.6  19.0
2  2.6   5.2  13.0
3  3.5   7.0  17.5
4  3.5   7.0  17.5

In [8]:
df.loc[:,df.columns.str.contains("age")].apply(lambda x: x/10).head()
# İçinde "age" geçen değişkenleri al 10'a böl
# Apply değişkenlerde gezmeyi sağlıyor

   age  age2  age3
0  2.2   4.4  11.0
1  3.8   7.6  19.0
2  2.6   5.2  13.0
3  3.5   7.0  17.5
4  3.5   7.0  17.5

In [10]:
df.loc[:,df.columns.str.contains("age")].apply(lambda x: (x-x.mean()) / x.std()).head()
# Standartlaştırma fonskiyonu denedik.

        age      age2      age3
0 -0.530005 -0.530005 -0.530005
1  0.571430  0.571430  0.571430
2 -0.254646 -0.254646 -0.254646
3  0.364911  0.364911  0.364911
4  0.364911  0.364911  0.364911

In [11]:
def standart_scaler(col_name):
    return (col_name - col_name.mean()) / col_name.std()

df.loc[:,df.columns.str.contains("age")].apply(standart_scaler).head()
# Fonksiyon ile beraber kullandık

        age      age2      age3
0 -0.530005 -0.530005 -0.530005
1  0.571430  0.571430  0.571430
2 -0.254646 -0.254646 -0.254646
3  0.364911  0.364911  0.364911
4  0.364911  0.364911  0.364911